.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding-top: 80px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 7rem;
  position: relative;
  margin-bottom: 10rem;
}

/*** IMAGE (LEFT) ***/
.image-container {
  display: flex;
  margin-right: 2rem;
}

.profile-pic {
  width: 300px;
  height: auto;
  display: block; /*** Image doesn't take up more space than it needs to ***/
  border-radius: 10px;
}

/*** TEXT (RIGHT) ***/

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  color: #28292a;
}
.intro-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}
.period {
  color: #afaee0;
  font-size: bold;
  font-weight: 700;
}
.text-container {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
}

.text {
  overflow: hidden;
  color: #28292a;
  margin-top: 3rem;
}

/* BUTTON */
.button {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  color: #afaee0;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 10px 20px;
  border: 1px solid #afaee0;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.button-contact:hover {
  background-color: #afaee0;
  color: #0b192f;
}

.button-contact:hover .email-icon {
  color: inherit;
}

.email-icon {
  background-color: transparent;
  color: inherit;
}

/* Media Query for small screens */
@media (max-width: 1000px) {
  .about-container {
    margin-top: 5rem;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column; /* Stack image and text vertically */
    align-items: center;
    padding-top: calc(80px + 3rem); /* Adjust padding for small screens */
    gap: 1rem; /* Adjust spacing between image and text */
  }

  .image-container {
    display: none; /* Hide image on small screens */
  }

  .text-container {
    padding-left: 0px;
    margin-top: 5%;
    margin-right: 0; /* Remove right margin */
    text-align: center;
  }
  .text {
    margin-top: 2rem;
  }
  .button {
    padding-bottom: 3rem;
  }
}
@media (max-width: 800px) {
  .cursor-text {
    font-size: 32px;
  }
}